@charset "UTF-8";

/*
CS 3312, spring 2020
Examples for Studio 8
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background-color: rgb(255, 250, 245);
   font-family: Georgia, serif;
}

h1 {
   color: rgb(34, 68, 102);
   text-align: center;
}

fieldset {
   border-color: rgb(68, 136, 204);
   border-radius: 10px;
   border-style: solid;
   border-width: 2px;
   float: left;
}

legend {
   border-color: rgb(68, 136, 204);
   border-style: solid;
   border-width: 2px;
   padding: 0px 5px;
}

input {
   text-align: center;
}

textarea {
   display: block;
}

.number-output {
   color: rgb(17, 68, 34);
   font-size: 200%;
   text-align: center;
}

.quiz-colors {
   align-items: center;
   display: flex;
   justify-content: center;
}

.quiz-colors div {
   border-color: rgb(0, 0, 0);
   border-style: solid;
   border-width: 1px;
   height: 100px;
   margin: 20px;
   width: 100px;
}
